/* slider {
    display: block;
    width: 40%;
    height: 38.1%;
    background-color:transparent;
    overflow: hidden;
    position: absolute;
    z-index: -1;
   }
   
   slider > * 
   {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    animation: slide 12s infinite;
    overflow: hidden;
    opacity: 0.2;
   }
   
   slide:nth-child(1)
   {
    left: 0%;
    animation-delay: -1s;
    height: 100%;
    background-image: url(/pics/washingmachine_slider.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
   }
   
   slide:nth-child(2)
   {
    animation-delay: 2s;
    height: 100%;
    background-image: url(/pics/slider_fo-min.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 100%;
   }
   
   slide:nth-child(3)
   {
    animation-delay: 5s;
    height: 100%;
    background-image: url(/pics/Slider-min.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 100%;
   }
   
   slide:nth-child(4)
   {
    left: 0%;
    animation-delay: 8s;
    height: 100%;
    background-image: url(/pics/sliderTV.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: 100%;
   }
   
   slide p
   {
    font-family: 'Gothic medium';
    font-size: 40px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: white;
   }
   
   @keyframes slide 
   { 
    0% { left: 100%; width: 100%; opacity:1;}
    5% { left: 0%;}
    25% { left: 0%;}
    30% { left: -100%; width: 100%; opacity:1;}
    31% { left: -100%; width: 0%;opacity:0;}
    100% { left: 100%; width: 0%; opacity:0;}
   } */
   
   .discover {
       position: absolute;
       margin-top: -47px;
       margin-left: 1050px;
       background:brown;
       height:35px;
       width: 120px;
   }
    
   .discover:hover{
       background: #ff0000;
   }

.gallery {
    margin-top: 104px;
}

.gal1 {
    position: absolute;
    float:left;
    display: block;
     margin-left: 89px;
    margin-top: 313px;
}

.gal2 {
    float:right;
    display: block;
    width:575px;
    height:364px;
    margin-top: -25px;
    /* margin-right: 50px; */
}
.gal1 + .gal2 {
    margin: 0px;
}

/* 
@media only screen and (max-width:736px){
    .gallery{
        display: block;
        position: relative;
        background: orange;
        flex-direction: column;
        width: 100%;
      
      }

      .gal1 {
          width:80%;
        /* position: absolute; */
        /* float:left; */
        /* display: flex;
        flex-direction: column; */
         /* margin-left: 89px; */
        /* margin-top: 313px; */
    /* }
}  */

/* .displayContainer{
    width: 100%;
    display: flex;
    flex-direction: column
  }   */