.ProfileGeneral{
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #f1f1f1;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.ProfileSuper{
   margin: auto;
    width: 80%; 
    margin-top: 100px;
    margin-bottom: 50px;
}


.ProfileAll{
    display: flex;
    justify-content: space-between;
    background-color:#f1f1f1;
    border: 1px solid #f1f1f1;
}

.ProfileFirst{
    display: grid;
    grid-auto-rows: 2rem;
    border: 1px solid #f1f1f1; 
    width: 22%; 
    background-color: white;
    text-align: left;
}


.ProfileFirst nav a :hover{
    border: 1px solid #f1f1f1;
    border-color:white;
    background: #f1f1f1; 
}

.a {
    text-decoration: none;
    color: black;
  }

.profileLogout{
 color:orange;
 text-align: center;
 border: 2px solid #f1f1f1;
 border-bottom: none;
  
}

.ProfileSecond{
    
    display: flex;
    flex-wrap:wrap;
    width: 75%; 
    background-color: white;
    justify-content: space-between;
    text-align: start;
    border:1px solid #f1f1f1; 
    
}

.profileAccount{
    background: #f1f1f1;
}

.profileAccount{
    color: black;
}




.ProfileSecond1{
    width: 40%;
    /* justify-content: space-between; */
    border: 1px solid #f1f1f1;
    /* display: grid; */
    align-items: center;
}

.ProfilePassword{
    color: orange;
}


.DivBorders{
    border: 1px solid #f1f1f1;
    width: 100%;
    margin-bottom: 15%;
    size: 20%;

}

.ProfileRecommended{
 background-color: #f1f1f1;
 text-align: left;
}


.ProfileGood-icon{
    width: 6%;
    height: 2%;
}

.profileIcon{
    width: 8%;
    height: 2%;
}
.profileIcons{
    width: 6%;
    height: 3%;
    margin-left: 30%;
} 

.profileJug{
    width: 100%;
    height: 70%;
    text-align: center;
    
}

.profileJugs{
    display: flex;
    justify-content:space-between;

}


.ProfileJugsAll{
    background:white;
    margin-bottom: 1%
   
}

.ProfileRelative{
    float: right;
    color: orange;
}

.Line{
    color: floralwhite;
    background: rgb(48, 47, 47);
    display: -webkit-inline-box;
    width: 100%;
}

.LineOne{
    
    padding: 5px;
    margin: 5px;
    width: 0px;
    -webkit-box-flex:1; 
}

.LineTwo{
    
     padding: 5px;
    margin: 5px;
    width: 0px;
    -webkit-box-flex: 1; 
}

.LineThree{
    
     padding: 5px;
    margin: 5px;
    width: 0px;
    -webkit-box-flex: 2; 
}

.LineFour{
    
    padding: 5px;
    margin: 5px;
    width: 0px;
    -webkit-box-flex: 1; 
}

.Images + .Images{
margin: 0 0 0 10px;
    
}

.Images2 + .Images2{
    margin: 0 0 0 25px;
}

.Images3 + .Images3{
    margin: 0 0 0 10px;
} 

@media only screen and (max-width:736px) {
    .ProfileSecond{
        display: none;
    }


.ProfileRecommended{
    display: none;
   }
   
.ProfileJugsAll{
    display: none;
}


.ProfileFirst{
    margin-bottom: 50px;
    width: 90%; 
    text-align: left;
   
}

.LineOne{
    display: none;
}
    .LineTwo{
        display: none;
    }


        .LineThree{
            display: none;
        }

            .LineFour{
                display: none;
            }



}