.App {
  text-align: center;
  }

  body {
    background:	#F1F1F1;
  }
/* nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  background: green;
  color: white;
} */

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.mobileNav {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  margin-top: 750px;
  background: green;
  color: white;
  list-style: none;
}

.headUl0 {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: -160px;
  margin-top: 0px;
}

.headLi0 {
  font-size: 12px;  
  display:block;
    height: 30px;
}

.headLi0:hover {
  color: #ff0000;
}


#input-container
{
    position: absolute;
    top: 6.6%;
    left: 52%;
    margin-right:40px;
    transform: translate(-50%,-50%);
    background-color: white;
    display:block;
    border: 1px solid black;
    box-sizing: border-box;
    width: 70%;
}
#input-container1
{
    position: absolute;
    top: 7.3%;
    left: 50%;
    margin-right:40px;
    transform: translate(-50%,-50%);
    background-color: white;
    display:block;
    width: 100%;
   
}

#input-container3
{
    position: absolute;
    top: 7.3%;
    left: 50%;
    margin-right:40px;
    transform: translate(-50%,-50%);
    background-color: white;
    display:block;
    width: 100%;
   
}

 input
{
    position: relative;
    display: inline-block;
    font-size: 15px;
    box-sizing: border-box;
    transition: .5s;
    border: 1px solid black;
} 
input[id="fname"]
{
    background: white;
    width: 440px;
    height: 35px;
    border: none;
    outline: none;
    padding: 0 25px;
    border: 1px solid black;
    
    /* border-radius: 25px 0 0 25px; */
}

input[id="tname"]
{
    background: #F1F1F1;
    width: 650px;
    height: 39px;
    outline: none;
    padding: 0 25px;
    border: 1px;
    margin-left: 50px;
    margin-top:18px;
    /* border-radius: 25px 0 0 25px; */
}


input[id="lname"]
{
    background: #F1F1F1;
    width: 600px;
    height: 39px;
    outline: none;
    padding: 0 25px;
    border: 1px;
    margin-left: 30px;
    margin-top:18px;
    border-radius: 4px;
    /* border-radius: 25px 0 0 25px; */
}


button
{
    position: relative;
    left: -5px;
    width: 80px;
    height: 39px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #DAA520;
    color: #fff;
}  
.btnMain:hover {
    background: #ff0000;
}

.btnMain1:hover {
  background: #ff0000;
}

.headLi + .headLi {
  margin: 0 0 0 10px;
 }

 input + .btnMain {
  margin: 0 12px;
 }

 input + .btnMain1 {
  margin: 0 5px;
 }

 input + .btnMain3 {
  margin: 0 15px;
 }

 .btnMain1 {
  font-weight: bold;
  color: white;
  background: orange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  top: -1px;
  width: 80px;
  height: 39px;
  border: none;
  outline: none;
  cursor: pointer;
  
 }


 .btnMain3 {
  font-weight: bold;
  color: white;
  background: orange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  top: -1px;
  width: 70px;
  height: 39px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;  
 }

 .btnMain3:hover {
  background: #ff0000;
}


 .headUl {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  display: flex;
  top: 100%;
  margin-top: -12px;
  margin-right: -450px;
 }


.appy .headLi {
  width: 150px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 15px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  top: 90%;
  margin: 0;
  
}


.headUl1 {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  display: flex;
  top: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 310px;
 }


.appy1 .headLi1 {
  width: 35px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  top: 90%;
  margin: 0;
  font-weight: bold; 
}

.headLi3{
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: bold;
}
.appy + .appy {
  margin: 0 0 0 25px;
}

.headLi:hover {
  color: #669900;
  transition: 0.6s;
}

.headLi1:hover {
  color: #669900;
  transition: 0.6s;
}
.bigfoot {
  position: relative;
  max-height: 100%;
  margin-top: 575px;

}


/* .headBoy {
  box-sizing: border-box;
  border: 1px solid black;
  display: block;
  background-color: #fff;
  
} */

.bodyUl{
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-content: flex-end;
    margin-top: -106px;
    display:block;
    width: 219px;
    background: white;
    /* display: flex; */
}

.newAppy .bodyLi {
  list-style: none;
  width: 150px;
  text-decoration: none;
  font-size: 10px;
  text-align: left;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: flex-end;
  
}

.newAppy {
  text-decoration: none;
}

.bodyLi {
  text-decoration: none;
  color: black;
}
.newAppy :hover {
  color: red;
  transition: 0.6s;
}

.flexy {
  float: right;
  position: absolute;
  background: white;
  margin-left: 218px;
  margin-top: -31px;
  display: flex;  
  z-index: 3;
  text-decoration: none;
  /* box-sizing: border-box; */
  border: 1px grey;
  height: 365px;
  list-style: none;
  width: 175px;
  text-align: left;
  overflow: hidden;
  
  }

  .flex1{
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    color: grey;
  }

  .fle{
    text-decoration: none;
    list-style: none;
    background: white;
    box-sizing: border-box;
  border: 1px solid black;
  display: block;  
  z-index: 3;
  position:absolute;
  margin-top: 57px;
  margin-left: -95px;
  }


  .flex2{
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    color: black;
  }

  .flefle {
    background: white;
    box-sizing: border-box;
  border: 1px solid black;
  display: block;  
  z-index: 3;
  position:absolute;
  margin-top: 57px;
  margin-left: 50px;
  width: 190px;
  height: 100px;
  font-size: 13px;

  }

  .logbtn {
    width: 10%;
    height: 20px;
  }

.jumiaC {
  z-index: 1;
  overflow: hidden;
}

/* .bodyDiv .bodyUl .newAppy .bodyLi :hover {
  background: #669900;
  color: orange;
  transition: 0.6s;
} */

.bodyDiv {
  position: absolute;
  margin-top:80px;
  display: flex;
  margin-left: 320px;
}

.products {
margin-left: 300px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  width:80px;
  margin-top: 310px;
}


.product {
  border: 1px solid #F1F1F1;
  font-size: 15px;
  width: 195px;
  background: white;  
  /* width: 50px; */
}

.cart {
  text-decoration: none;
  color: black;
}

.cartText {
  border: 1px solid #F1F1F1;
  width: 1180px;
 margin-left:300px;
 margin-top: 271px;
 position: absolute;
 height: 37px;
 font-size: 18px;
 text-align: left;
 background: white;
}

.img2 {
  display: none;
}

.grid {
  position: absolute;
  top: 225px;
  margin-left:22px;
  
}

.stable {
  display: flex;
  box-sizing: border-box;
  border: 1px solid white;
  width: 64%;
  margin-left:323px;
  margin-top: 20px;
  justify-content: space-around;
  background: white;
}

.promain{
  display: flex;
  flex-direction: row;
  width: 64%;
  margin-left: 320px;
  
}
.pro {
  font-size: 14px;
  width: 100%;
  background: white;
  
}

.bike {
  text-decoration: none;
  color: black;
}
.rawText {
  margin-top: 28px;
  margin-left: 319px;
  width:64%;
  background: orange;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.rawText1 {
  justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
}

.rawText2 {
  margin-left: 820px;
  font-size: 15px;
}
.master {
  margin-top: 818px;
 
}

.discount {
  box-sizing: border-box;
  background-color: yellow;
  display: block;
  border: 1px solid yellow;
  position: absolute;
  margin-top: -270px;
  margin-left: 155px;
}

.bottomTextHolder {
  background: white;
  width: 1174px;
  height: 370px;
  margin: 0 auto;
  margin-top: 15px;
  margin-left:324px;

}

.Textp {
  color: grey;
  font-size: 13px;
  
}

.Texth1 {
  color: grey;
  font-size: 17px;
  line-height: 45px;
}

.cd {
  width: 93%;
  height: 250px;
  margin-left: 40px;
  text-align: left;
}

.b4foot {
  display: flex;
  /* justify-content: space-around; */
  background:	#C0C0C0;
  margin-top: 28px;
}

.oneFeet {
  display: flex;
  margin-top: 15px;
  margin-left: 335px;
}

.twoFeet {
  margin-left: 320px;

}
.footbtn {
  background: orange;
  margin: 5px;
  border: none;
  outline: none;
  color: white;
  height: 22px;
  font-weight: bold;
}

.footbtn:hover {
   background: darkorange;
}

.foothov:hover {
  background: orange;
}
.coverboy {
  display: flex;
  justify-content: space-evenly;
  background: #696969;
}

.lastp {
  color:#FF8C00;
  font-size: 13px;
  text-align:left;
}
.nomoreli {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 12px;
  line-height: 25px;
}

.nomoreli + .nomoreli {
  margin: 0 0 0 15px;
}

.moreli{
  list-style: none;
  font-size: 12px;
  line-height: 20px;
  text-align:left;
}

.moreli :hover{
  text-decoration: underline;
}
.smaH {
  text-align: left;
  justify-content: left;
}

.sma + .sma {
  margin: 0 0 0 10px;
}

.jumicon{
  text-align: left;
  justify-content: left;
}

.sma1 {
  text-align: left;
}

.mfooter {
  display: none;
}



@media only screen and (max-width:736px) {
  body {
    margin : 0;
    padding: 0;
}
.App{
  width: 100%;
  height: 100%;
}

.displayContainer {
  width: 100%;
  text-align: left;
  background:transparent;
  position: relative;
  overflow: hidden;
}
.gallery{
  bottom: 0;
  width: 100%;
  background: green;
} 
.gal1 {
  position: absolute;
  left: -89px;
  max-width: 100%;
  max-height: 100%;

}
  .headLi0 {
    display: none;
  }

  .mobileNav {
    display: flex;
   flex-direction: column;
  }

  .mobileNavMenu {
    justify-content: space-around; 
  }

  .mobileinput{
    width: 80%;
    height: 25px;
    border: none;
    background: #f4f4f4;
  }
.search {
  border: 1px solid grey;
  background: #f4f4f4;
  padding: 7.5px;
  margin-left: 18px;
  max-width: 85%;
  margin-top: 10px;
  border-radius: 5px;

}

  .mobileinput1{
    background: #f1f1f1;
  }

  #input-container1 {
    display: none;
  }
  .slideshow-simple {
  width: 1560px;
  height: 708px;
  margin-top: -50px;
  }

  .rawimg {
position: absolute;
  margin-right: 200px;
  z-index: 2;  
  max-width: 100%;
  max-height: 100%;
}
.indicators {
  position : absolute;
  margin-left: -600px;
  z-index: 3;
}

  .discover {
  display: none;
}

.gallery .gal2 {
 display: none;
}

.bodyUl {
  display: none;
}
.products {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  width: 340px;
  margin-left: 0px;
  text-align: center;
}
.product {
  font-size: 9px;
  width: 205px;
}

#hidegrid {
  display: none;
}
.cartText {
  width: 411px;
 font-size: 14px;
 margin-left: 0px;
}
.grid {
  top: 240px;
  margin-left: 0px;
  width: 100%;
  background: transparent;
}

.cart {
  font-size: 13px;
}

.master {
  margin-top: 880px;
  margin-left: 0px;
  width: 100%;
}
.stable {
  width: 100%;
  margin-left: 0px;
  margin-bottom: -280px;
}

.stable1 {
  width: 1200px;
  height: 585px;
}

.img {
  display: none;
}

.img2 {
  max-width:100%;
  display: flex;
}

.promain{
  display: grid;
  grid-template-columns: auto auto;
  width: 95%;
  margin-left: 0px; 
}
.pro {
  font-size: 12px;
  width: 100%;
  background: white;
  border: 1px solid grey;
  margin: 7px 8px 7px 8px;
  padding: 3px;
  text-align: center;
}

/* .pro + .pro {
  margin: 0 0 0 20px;
} */

#hidepro {
  display: none;
}

.rawText {
  margin-top: 20px;
  margin-left: 0px;
  width:414px;
  background: orange;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 50px;
}

.rawText1 {
  font-size: 12px;
  font-weight: bold;
}
.spantext {
  display: flex;
  flex-direction: column;
}

.flexy1 {
  float: left;
  text-decoration: none;
  list-style: none;
  background: white;
  box-sizing: border-box;
border: 1px solid black;
display: block;  
z-index: 3;
position:absolute;
margin-top: 13px;
margin-left: 0px; 
text-align: left;   
  }

  .flex11{
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    color: grey;
  }


  .flefle1 {
    background:#f4f4f4;
    box-sizing: border-box;
  border: 1px solid black;
  display: block;  
  z-index: 3;
  position:absolute;
  margin-top: -52px;
  margin-left: 275px;
  width: 130px;
  height: 80px;
  font-size: 13px;
  text-align: center;

  }

.rawText2 {
  margin-left: 235px;
  font-size: 12px;
}

.hideicon {
  display: none;
}

.hideicon2 {
  display: none;
}

.bottomTextHolder {
display: none;

}

.b4foot {
  display: none;
}
.divhide {
  display: none;
}
.mfooter {
  display: block;
}

.mobilefooter {
  display: flex;
}

.mobileli{
  list-style: none;
  text-decoration: none;
  margin: 23px;
}

.nomoreli2 {
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 10px;
}
.nomoreli3{
  font-size: 12px;
  color: white;
  text-decoration: none;
  list-style: none;
}
.lfooter {
  margin-top: -34px;
  margin-left: 120px;
}

}




